<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Test" />
    <add name="Test" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmT00H1crF/wK3dIirsm5A+p" />
    <add name="Train" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmTe2qtqFcZMUG4IOBXXNEZy" />
    <add name="Production" connectionString="ADLUmPaQbfqtdQ8cx0uZp9ciopJqKTDflAnKjQhg3b+60NQrlg4uE5iKV7upf9dt0u2jQBwainfyUGrML1jomZLEIZ1wCoZdd5ZRi+rpmGFFZcg3CczTvu2dcqj4DreoDlb7e/cZMaruk3716nUr9YkXjffhg/z+" />
    <add name="FrankAzure" connectionString="ADLUmPaQbfonas6izYDnBmItcfUE98wpamCszJNF4buz1qFcYSYBZviFWhraD5cIJD8VnQZRHPADJGPsopFBIV6aibZFzukqqz7b5kPavMm6/6XlUUk3kj7yJCXnyBjSi4zaznvx6VThuBMXbOtNeDtl9osYtkm0WlW6i8vR3Qk=" />

   </connectionStrings>
  <appSettings>
    <add key="RunningModel" value="Test" />
  
    <add key="AuthenticateMethod" value="NameOnlyFalse" />
    <add key="AppServers" value="WEBAPP11,WEBAPP12,WEBAPP13,WEBAPP14,WEBAPP15,WEBAPP16,WEBAPP17,WEBAPP18,WEBAPP19" />
    <add key="Developers" value="mif," />

    <add key="WebServiceUser" value="service_cecweb" />
    <add key="WebServiceWP" value="$C3C@W3b#" />
 
    <add key="eMailTry" value="Test" />
    <add key="eMailTO" value="mif@tcdsb.org" />
    <add key="eMailCC" value="" />
    <add key="eMailBcc" value="" />
  
  
    <add key="SMTPServer" value="intramail.tcdsb.org" />
  
    <add key="SIC.Generic.LIB.EducatorsList" value="EducatorsList,SIC.Generic.LIB,Version=1.0.0.0, Culture=neutral" />
  </appSettings>
</configuration>