<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Production" />
    <add name="Test" connectionString="ADLUmPaQbfr8Fg9UOYe+FB1rj3qAOfvxcm5zbE++i46H2zyS3T7sgxUVTkGc49155BKEQxE4kV1sTOq6JhLTAL5Rl0/uZuFyX9OuA0CAiYfiiJf727peWxMEo2A1gQpsAEGi8eqg65Y=" />
    <add name="Train" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmTe2qtqFcZMUG4IOBXXNEZy" />
    <add name="Production" connectionString="ADLUmPaQbfqtdQ8cx0uZp9ciopJqKTDflAnKjQhg3b+60NQrlg4uE5iKV7upf9dt0u2jQBwainfyUGrML1jomZLEIZ1wCoZdd5ZRi+rpmGFFZcg3CczTvu2dcqj4DreoDlb7e/cZMaruk3716nUr9YkXjffhg/z+" />
    <add name="FrankAzure" connectionString="ADLUmPaQbfonas6izYDnBmItcfUE98wpamCszJNF4buz1qFcYSYBZviFWhraD5cIJD8VnQZRHPADJGPsopFBIV6aibZFzukqqz7b5kPavMm6/6XlUUk3kj7yJCXnyBjSi4zaznvx6VThuBMXbOtNeDtl9osYtkm0WlW6i8vR3Qk=" />
    <add name="LDAP" connectionString="LDAP://tcdsb.org/DC=tcdsb,DC=org" />
    <add name="ADConnectionString" connectionString="LDAP://cec.tcdsb.org/CN=Users,DC=cec,DC=tcdsb,DC=org" providerName="MyADMembershipProvider" />
  </connectionStrings>
  <appSettings>
    <add key="RunningModel" value="Design" />
    <add key="SchoolSystem" value="Public" />
    <add key="Application" value="SIC" />
    <add key="ApplicationSite" value="https://epa3.azurewebsite.net" />
    <add key="ApplicationName" value="Educator Performance Appraisal" />
    <add key="DefaultPage" value="Page" />
    <add key="Registry" value="Registry" />
    <add key="DataSource" value="Class" />
    <add key="SPFile" value="" />
    <!--<add key="SPFile" value="Content\DataAccess.json"/>-->
    <add key="ReportSource" value="WebService" />
    <add key="AuthenticateService" value="http://webs/AuthenticationWS/Authenticate.asmx" />
    <add key="AuthenticateMethod" value="NameOnly" />
    
    <add key="SectionStartPage" value="STR11,SUM11,ALP11,IMP11,ENR11,OBS11,AGP11,APP11 " />
    <add key="NotCheckPage" value="Summary,AGP11,STR11,SUM11,ALP11,IMP11,ENR11,AGP11,APP11,OBS11" />
    <add key="BoardAccessRole" value="Admin,SO,Coordernate,APT,Support,SocialWork,AcdamicLeader,AcdamicStaff" />
    
 
    <add key="NotCheckRole" value="Admin,SO,Director,Principal" />
    <add key="SharePage" value="NTP,STR11,STR22,STR33" />
    <add key="SLIPLinkSite" value="../Documents/" />
    <add key="DocumentLink" value="https://webapp.tcdsb.org/WebDocuments/Documents/LTO/" />
    <add key="AppsInfoLink" value="http://webt01.tcdsb.org/QA/AppsInfo/Default.aspx" />
    <!--<add key="ReportingService" value="http://webservice.tcdsb.org/ReportServer/ReportExecution2005.asmx" />-->
    <!--<add key="ReportServer" value="http://webservice.tcdsb.org/ReportServer" />-->
    <add key="ReportingService" value="http://0811N000DL88LC2/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportServer" value="http://0811N000DL88LC2/ReportServer" />
    
    <!--<add key="WebServiceUser" value="mif" />
    <add key="WebServiceWP" value="descriptive" />-->


    <add key="WebServiceUser" value="service_cecweb"/>
    <add key="WebServiceWP" value="$C3C@W3b#"/>
    
    
    <add key="ReportPath" value="?%2fEPAReports%2f" />
    <add key="ReportPathWS" value="/EPAReports" />
    <add key="ReportFormat" value="PDF" />
    <add key="eMailTry" value="Test" />
    <add key="eMailTO" value="mif@tcdsb.org" />
    <add key="eMailCC" value="" />
    <add key="eMailBcc" value="" />
    <!--<add key="WebServiceUser" value="service_cecweb" />
    <add key="WebServiceWP" value="$C3C@W3b#" />-->
    <add key="SMTPServer" value="intramail.tcdsb.org" />
    <add key="NetWorkDomain" value="cec" />
    <add key="MessageNotAllow" value="You are not allow to run this application !" />
    <add key="EvaluationYear" value="E,NTP,LTO" />
    <add key="SIC.Generic.LIB.EducatorsList" value="EducatorsList,SIC.Generic.LIB,Version=1.0.0.0, Culture=neutral" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
      
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" name=".adAuthCookieEPA" protection="All" timeout="60" defaultUrl="Default.aspx" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>