<?xml version="1.0" encoding="utf-8" ?>
 
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Test" />
    <add name="Test" connectionString="Data Source=0811N000DL88LC2\MSSQLSERVER13;Initial Catalog=EPA;User ID=appUsers;PWD=appusers;Application Name=EPA"/>
    <add name="Train" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=EPA"/>
    <add name="Live" connectionString="Data Source=0811N000DL88LC2\MSSQLSERVER13;Initial Catalog=EPA;User ID=appUsers;PWD=appusers;Application Name=EPA"/>
    <add name="TestFrankAzure" connectionString="Data Source=tcp:epa.database.windows.net,1433;Initial Catalog=EPA;User ID=appsUsers;PWD=apps!@#$%Users;Application Name=EPA"/> 
  </connectionStrings>
</configuration>