 
/*.studentMenuTab {
    display: inline;
    position: relative;
    width: 150px;
}

.StudentMenuItem {
    display: inline-block;
    display: none;
}*/

.ItemLevel0 {
    width: 170px;
    list-style-type: none;
    margin-right: -2px; 
}

    .ItemLevel0:hover, .ItemLevel1:hover {
        /*   background-color: lightsalmon;*/
        background: lightsalmon; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(lightsalmon, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lightsalmon, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lightsalmon, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lightsalmon, white); /* Standard syntax */
    }

.ItemLevel1_ul {
    border: 2px lightblue ridge;
    padding-left: 20px;
    width: 400px;
    list-style-type: none;
    position: relative;
    top: -20px;
    left: 170px;
    margin-left: 0px;
    background: #fff;
    padding: 0;
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,lightblue,white ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,lightblue,white ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,lightblue,white ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,lightblue,white ); /* Standard syntax (must be last) */
}

.ItemLevel1 {
    padding-left: 5px;
}

    .ItemLevel1 a {
        padding-left: 10px;
    }

.LeftSideMenu ul li:hover > ul {
    display: block;
}

.showMenuItem {
    display: block;
}

.hideMenuItem {
    display: none;
}

.LeftSideMenu li {
    height: 25px;
}

#ActionMenuDIV {
    border: 2px lightblue ridge;
    height: 180px;
    width: 210px;
    background: lightblue;
    background: -webkit-linear-gradient(left,lightblue,white ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,lightblue,white ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,lightblue,white ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,lightblue,white ); /* Standard syntax (must be last) */
}
/*
    #ActionMenuDIV li {
       height: 25px;
    } 
*/
.Top_ul_W {
    width:280px;

}